.home-container {
    padding-top: 100px;
    display: flex;
    position: relative;

    .home-sub-container {
        height: 80vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 130px;
        gap: 20px;

        .karen-grace {
            color: #fff;
            font-weight: 400;
            font-size: 4rem;
        }

        .photography {
            color: #fff;
            font-weight: 700;
            font-size: 10rem;
            margin-bottom: 50px;
        }

        .btn-ask-qoute-container {

            a {
                display: flex;
                width: 280px;
                cursor: pointer;
                text-decoration: none;

                .btn-ask-quote {
                    border: none;
                    background: transparent;
                    border: 1px solid #fff;
                    padding: 20px;
                    outline: none;
                    color: #fff;
                    font-size: 1.5rem;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    width: 70%;
                    cursor: pointer;
                }
    
                .arrow-icon {
                    background-color: #fff;
                    width: 30%;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
    
                    .right-arrow {
                        height: 2.5rem;
                    }
                }
    
                &:hover .right-arrow {
                    animation: slide-in .5s linear;
                }
            }
        }
    }
}


@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translate(-20px);
    }

    100% {
        opacity: 100%;
    }
    
}

@media (max-width: 800px) {
    .home-container {

        .home-sub-container {
            padding: 0 20px;

            .karen-grace {
                font-size: 2rem;
            }

            .photography {
                font-size: 5rem;
            }

            .btn-ask-qoute-container {
                width: 180px;
    
                .btn-ask-quote {
                    padding: 15px;
                    font-size: 1.2rem;
                }
    
                .arrow-icon {
    
                    .right-arrow {
                        height: 2rem;
                    }
                }
    
                &:hover .right-arrow {
                    animation: slide-in .5s linear;
                }
            }
        }
    }
}