.header-container {
    // border: 1px solid red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 70px;
    position: fixed;
    width: 100%;
    z-index: 10;

    .logo-container .logo {
        height: 30px;
    }

    .header-sub-container {
        display: flex;
        gap: 30px;
        align-items: center;

        .nav {
            text-decoration: none;
            color: #fff;
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: 2px;
            font-size: 1.2rem;
        }
    }
}

.burger-container {
    position: absolute;
    padding: 10px;
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;

    .line-1,
    .line-2,
    .line-3 {
        background-color: #fff;
        height: 3px;
        width: 20px;
        display: block;
        position: relative;
    }

    .line-2 {
        transform: translate(-10px);
    }

}

@media (max-width: 800px) {

    .header-container {
        background: #4ECDC4;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #556270, #4ECDC4);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #556270, #4ECDC4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        height: 100%;
        flex-direction: column;
        transition: all .3s ease;
        padding: 0 0;

        .logo-container .logo {
            position: fixed;
            top: 20px;
            left: 20px;
        }

        .header-sub-container {
            flex-direction: column;
            height: 100%;
            width: 100%;
            justify-content: center;
            gap: 100px;

            .nav {
                font-size: 1.5rem;
            }
        }
    }

    .burger-container {
        display: flex;
        z-index: 20;
        top: 16px;
        right: -250px;
    }

    .position {
        transform: translate(100%);
    }
}

@media (max-width: 400px) {
    .burger-container {
        display: flex;
        z-index: 20;
        top: 16px;
        right: -400px;
    }
}